.head{
    color: blue;
    background-color: aqua;
}

.Para{
    color: brown;
    background-color: green;
}

#style{
    color: blue;
    background-color: wheat;
}

.he{
    color: Green;
}

#she{
    background-color: aqua;
}